@model IEnumerable<FuelManager.Models.dtos.CarDto>

@{
    ViewData["Title"] = "GetAllCarRecords";
}

<h1>GetAllCarRecords</h1>

<p>
    <a asp-action="SaveCars">Save Cars</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HP)
            </td>
            <td>
                 <a asp-controller="Refueling" asp-action="GetFuel" asp-route-id="@item.Id">Add new refueling</a>
            </td>
        </tr>
}
    </tbody>
</table>
